{{define "header" -}}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="css/style.css">
   <script src="js/script.js" defer></script>
</head>
<body>
<header class ="bg-gradient-to-r from-blue-800 to-indigo-800 text-white">
  <nav class="px-8 py-6 flex items-center space-x-12">
  <div>Cunningham Apartments </div>
  <div>
  <a href= "/">Home</a>
  <a href= "/manager"</a>
  </div>
  </nav>
{{end}}